<!DOCTYPE html>
<!--[if IE 9]> <html lang="zxx" class="ie9"> <![endif]-->
<!--[if gt IE 9]> <html lang="zxx" class="ie"> <![endif]-->
<!--[if !IE]><!-->
<html dir="ltr" lang="zxx">
	<!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <title>MVisia - Máquinas de Visão e Inteligência Artificial</title>
    <meta name="description" content="The Project a Bootstrap-based, Responsive HTML5 Template">
    <meta name="author" content="htmlcoder.me">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,500,400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Fontello CSS -->
    <link href="fonts/fontello/css/fontello.css" rel="stylesheet">

    <!-- Plugins -->
    <link href="plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="plugins/rs-plugin-5/css/settings.css" rel="stylesheet">
    <link href="plugins/rs-plugin-5/css/layers.css" rel="stylesheet">
    <link href="plugins/rs-plugin-5/css/navigation.css" rel="stylesheet">
    <link href="css/animations.css" rel="stylesheet">
    <link href="plugins/owlcarousel2/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="plugins/owlcarousel2/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="plugins/hover/hover-min.css" rel="stylesheet">		
    <link href="plugins/morphext/morphext.css" rel="stylesheet">
    
    <!-- The Project's core CSS file -->
    <!-- Use css/rtl_style.css for RTL version -->
    <link href="css/style.css" rel="stylesheet" >
    <!-- The Project's Typography CSS file, includes used fonts -->
    <!-- Used font for body: Roboto -->
    <!-- Used font for headings: Raleway -->
    <!-- Use css/rtl_typography-default.css for RTL version -->
    <link href="css/typography-default.css" rel="stylesheet" >
    <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
    <link href="css/skins/green.css" rel="stylesheet">
  
    <!-- Custom css --> 
    <link href="css/custom.css" rel="stylesheet">
       
  </head>

  <body class="page-loader-1">

    <!-- scrollToTop -->
    <!-- ================ -->
    <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

    <!-- page wrapper start -->
    <!-- ================ -->
    <div class="page-wrapper">
      <!-- header-container start -->
      <div class="header-container">
        <div class="header-top dark">
          <div class="container">
            <div class="row">
              <div class="col-1 col-md-3">
                <!-- header-top-first start -->
                <div class="header-top-first clearfix">
                  <ul class="social-links circle small clearfix hidden-sm-down">
                    <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                    <li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube-play"></i></a></li>
                    <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                  </ul>
                  <div class="social-links hidden-md-up circle small">
                    <div class="btn-group dropdown">
                      <button id="header-top-drop-1" type="button" class="btn dropdown-toggle--no-caret" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-share-alt"></i></button>
                      <ul class="dropdown-menu dropdown-animation" aria-labelledby="header-top-drop-1">
                        <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                        <li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube-play"></i></a></li>
                        <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- header-top-first end -->
              </div>
              <div class="col-11 col-md-9 hidden-sm-down">

                <!-- header-top-second start -->
                <!-- ================ -->
                <div id="header-top-second"  class="clearfix text-right">
                  <ul class="list-inline">
                    <li class="list-inline-item hidden-md-down">Realizamos projetos sob medida para o seu negócio.</li>
                    <li class="list-inline-item"><i class="fa fa-envelope-o pr-1 pl-10 text-default"></i>contato@mvisia</li>
                    <li class="list-inline-item"><i class="fa fa-phone pr-1 pl-10 text-default"></i>(+55) (11) 4302-5902</li>
                    <li class="list-inline-item"><i class="fa fa-whatsapp pr-1 pl-10 text-default"></i>(+55) (11) 98134-9727</li>
                  </ul>
                </div>
                <!-- header-top-second end -->

              </div>
            </div>
          </div>
        </div>
        <!-- header-top end -->

        <!-- header start -->
        <!-- ================ -->
        <header class="header fixed fixed-desktop clearfix">
          <div class="container">
            <div class="row">
              <div class="col-md-auto hidden-md-down pl-3">
                <!-- header-first start -->
                <!-- ================ -->
                <div class="header-first clearfix">

                  <!-- logo -->
                  <div id="logo" class="logo">
                    <a href="#" target="_self"><img id="logo_img" src="images/logo-mvisia.svg" alt="Logo MVisia"></a>
                  </div>

                </div>
                <!-- header-first end -->

              </div>
              <div class="col-lg-8 ml-lg-auto">
          
                <!-- header-second start -->
                <!-- ================ -->
                <div class="header-second clearfix">
                  
                <!-- main-navigation start -->
                <!-- classes: -->
                <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                <!-- ================ -->
                <div class="main-navigation main-navigation--mega-menu  animated">
                  <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <div class="navbar-brand clearfix hidden-lg-up">

                      <!-- logo -->
                      <div id="logo-mobile" class="logo">
                        <a href="index.html"><img id="logo-img-mobile" src="images/logo-mvisia.svg" alt="Logo Mvisia"></a>
                      </div>

                    </div>
                    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                      <!-- main-menu -->
                      <ul class="navbar-nav ml-xl-auto">
                        <li class="nav-item mega-menu mega-menu--wide">
                          <a href="page-about.html" target="_self" class="nav-link" id="first-dropdown" aria-expanded="false">Sobre</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a href="#" target="_self" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Tecnologias</a>
                          <ul class="dropdown-menu" aria-labelledby="first-dropdown">
                            <li>
                              <ul class="menu">
                                <li><a href="page-case-1.html">Visão computacional</a></li>
                                <li><a href="page-case-2.html">Inteligência artificial</a></li>
                                <li><a href="page-case-3.html">Câmeras hiperespectrais</a></li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                        <li class="nav-item dropdown">
                          <a href="#" target="_self" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Cases</a>
                          <ul class="dropdown-menu" aria-labelledby="first-dropdown">
                            <li>
                              <ul class="menu">
                                <li><a href="page-case-1.html">Calibradora eletrônica de tomates miúdos</a></li>
                                <li><a href="page-case-2.html">Sistema automático de qualificação de uvas</a></li>
                                <li><a href="page-case-3.html">Seletora automática de mudas florestais</a></li>
                                <li><a href="page-case-4.html">Seletora automática de mudas de flores</a></li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                        <li class="nav-item">
                          <a href="page-media.html" target="_self" class="nav-link" aria-haspopup="true" aria-expanded="false">Na mídia</a>
                        </li>
                        <!-- futuro blog -->
                        <!--<li class="nav-item">
                            <a href="" target="_blank" class="nav-link" aria-haspopup="true" aria-expanded="false">Blog</a>
                        </li>-->
                        <!-- end futuro blog -->
                      </ul>
                    </div>
                  </nav>
                </div>
                <!-- main-navigation end -->
                </div>
                <!-- header-second end -->
              </div>
            </div>
          </div>
        </header>
        <!-- header end -->
      </div>
      <!-- header-container end -->
      <!-- banner start -->
      <!-- ================ -->
      <div class="banner clearfix">

        <!-- slideshow start -->
        <!-- ================ -->
        <div class="slideshow">

          <!-- slider revolution start -->
          <!-- ================ -->
          <div class="slider-revolution-5-container">
            <div id="slider-banner-fullwidth" class="slider-banner-fullwidth rev_slider" data-version="5.0">
              <ul class="slides">
                <!-- slide 1 start -->
                <!-- ================ -->
                <li class="text-center" data-transition="fade" data-slotamount="default" data-masterspeed="default" data-title="Máquinas Inteligentes">
                  
                <!-- main image -->
                <img src="images/bg-slider-1.png" alt="slidebg2" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">
                  
                <!-- Transparent Background -->
                <div class="tp-caption dark-translucent-bg"
                  data-x="center"
                  data-y="center"
                  data-start="0"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:600;e:Power2.easeInOut;"
                  data-transform_out="o:0;s:600;"
                  data-width="5000"
                  data-height="5000">
                </div>
                  
                <!-- LAYER NR. 1 -->
                <div class="tp-caption large_white"
                  data-x="center"
                  data-y="200"
                  data-start="500"
                  data-width="1000"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Máquinas Agrícolas Inteligentes
                </div>
                  
                <!-- LAYER NR. 2 -->
                <div class="tp-caption large_white tp-resizeme hidden-sm-down"
                  data-x="center"
                  data-y="260"
                  data-start="650"
                  data-width="500"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
                <div class="separator light"></div>
                </div>
                  
                <!-- LAYER NR. 3 -->
                <div class="tp-caption medium_white hidden-sm-down"
                  data-x="center"
                  data-y="300"
                  data-start="650"
                  data-width="800"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Usamos visão computacional e inteligência artificial para automatizar<br> a seleção e a padronização de produtos agrícolas
                </div>
                <!-- slide 1 end -->

                <!-- slide 2 start -->
                <!-- ================ -->
                <li class="text-center" data-transition="fade" data-slotamount="default" data-masterspeed="default" data-title="Análises em Tempo Real">

                <!-- main image -->
                <img src="images/bg-slider-2.png" alt="slidebg2" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">

                <!-- Transparent Background -->
                <div class="tp-caption dark-translucent-bg"
                  data-x="center"
                  data-y="center"
                  data-start="0"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:600;e:Power2.easeInOut;"
                  data-transform_out="o:0;s:600;"
                  data-width="5000"
                  data-height="5000">
                </div>

                <!-- LAYER NR. 1 -->
                <div class="tp-caption large_white"
                  data-x="center"
                  data-y="200"
                  data-start="500"
                  data-width="1000"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Análises Precisas e em Tempo Real
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption large_white tp-resizeme hidden-sm-down"
                  data-x="center"
                  data-y="260"
                  data-start="650"
                  data-width="500"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
                    <div class="separator light"></div>
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption medium_white hidden-sm-down"
                  data-x="center"
                  data-y="300"
                  data-start="650"
                  data-width="800"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Incorporamos inteligência à agroindústria, gerando ganhos<br> de eficiência, precisão e produtividade
                </div>
                </li>

                <!-- slide 3 start -->
                <!-- ================ -->
                <li class="text-center" data-transition="fade" data-slotamount="default" data-masterspeed="default" data-title="Máquinas e Sistemas">
                <!-- main image -->
                <img src="images/bg-slider-3.png" alt="slidebg2" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">          
                <!-- Transparent Background -->
                <div class="tp-caption dark-translucent-bg"
                  data-x="center"
                  data-y="center"
                  data-start="0"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:600;e:Power2.easeInOut;"
                  data-transform_out="o:0;s:600;"
                  data-width="5000"
                  data-height="5000">
                </div>
                <!-- LAYER NR. 1 -->
                <div class="tp-caption large_white"
                  data-x="center"
                  data-y="200"
                  data-start="500"
                  data-width="1000"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Máquinas e Sistemas para o seu Negócio
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption large_white tp-resizeme hidden-sm-down"
                  data-x="center"
                  data-y="260"
                  data-start="650"
                  data-width="500"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
                  <div class="separator light"></div>
                </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption medium_white hidden-sm-down"
                  data-x="center"
                  data-y="300"
                  data-start="650"
                  data-width="800"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Trabalhamos com projetos sob demanda de máquinas de classificação<br> de diversos produtos e de sistemas de controle de qualidade
                </div>
                <!-- slide 3 end -->
              </ul>
              <div class="tp-bannertimer"></div>
            </div>
          </div>
          <!-- slider revolution end -->
        </div>
        <!-- slideshow end -->
      </div>
      <!-- banner end -->

      <div id="page-start"></div>
      <!-- section -->
      <!-- ================ -->
      <section class="main-container">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 order-lg-2">
              <div class="bordered text-center">
                <img src="images/about-bg-image.png" alt="mvisia-youtube-channel">
                <!--<a target="_blank" href="https://www.youtube.com/user/MVisiaBrasil" class="overlay-link"><i class="fa fa-link"></i></a>-->
                <div class="mb-20">
                  <a class="cta-youtube btn btn-transparent btn-animated" href="https://www.youtube.com/user/MVisiaBrasil">Assista aos nossos vídeos!<i class="fa fa-angle-double-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 order-lg-1">
              <h3 class="title">Sobre a MVisia</h3>
              <p>A MVisia desenvolve <strong>máquinas e sistemas baseados em visão computacional e inteligência artificial</strong> para determinar o índice de qualidade de produtos agrícolas.</p>
              <p>O princípio de nossas soluções é um sistema que captura imagens e as envia para um software de análise, que considera <strong>parâmetros relevantes para a seleção de cada produto</strong>.</p>
              <p>Desenvolvemos também a <strong>estrutura mecatrônica</strong> para viabilizar o processo de acordo com a produtividade necessária para o cliente.</p>
              <p>Trazemos <strong>eficiência, redução de custos e aumento de qualidade</strong> para sistemas de produção da <strong>agroindústria</strong>, utilizando <strong>visão computacional e inteligência artificial.</strong></p>
              <a class="btn radius-2 btn-default btn-hvr btn-animated" href="page-about.html">Saiba mais<i class="fa fa-angle-double-right"></i></a>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      <!-- section start -->     
      <section id="technology-section" class="dark-translucent-bg tech pv-55 clearfix">
        <div class="container">
          <div class="row">
            <div class="main col-md-12">
              <h2 class="page-title text-center">Tecnologias</h2>
              <div class="separator"></div>
              <h4 class="page-subtitle text-center">Somos especialistas em desenvolvimento de softwares inteligentes para o reconhecimento<br> de características visuais por meio de algoritmos próprios e exclusivos.</h4>
              <br>

              <div class="row">
                <div class="col-md-4 ">
                  <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible mb-20" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <span class="icon default-bg circle"><img class="icon-circle" src="images/technology-1.svg"></span>
                    <h3>Visão Computacional</h3>
                    <div class="separator clearfix"></div>
                    <p>Utilizamos processamento de imagens<br> para automatizar inspeções visuais e<br> aumentar a sua acurácia.</p>
                    <a class="btn btn-transparent btn-animated" href="page-technology-1.html">Saiba mais<i class="fa fa-angle-double-right"></i></a>
                  </div>
                </div>
                <div class="col-md-4 ">
                  <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible mb-20" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <span class="icon default-bg circle"><img class="icon-circle" src="images/technology-2.svg"></span>
                    <h3>Inteligência Artificial</h3>
                    <div class="separator clearfix"></div>
                    <p>O aprendizado de máquina e o uso<br> de redes neurais nos auxiliam no<br> reconhecimento de padrões.</p>
                    <a class="btn btn-transparent btn-animated" href="page-technology-2.html">Saiba mais<i class="fa fa-angle-double-right"></i></a>
                  </div>
                </div>
                <div class="col-md-4 ">
                  <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible mb-20" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <span class="icon default-bg circle"><img class="icon-circle" src="images/technology-3.svg"></span>
                    <h3>Câmeras Hiperespectrais</h3>
                    <div class="separator clearfix"></div>
                    <p>Utilizamos câmeras hiperespectrais para<br> analisar características que não podem<br> ser vistas com câmeras tradicionais.</p>
                    <a class="btn btn-transparent btn-animated" href="page-technology-3.html">Saiba mais<i class="fa fa-angle-double-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
      </section>
      <!-- section end -->  

      <!-- section start -->
      <!-- ================ -->
      <section class="main-container">

      <div class="container">
      <div class="row">
        
      <!-- main start -->
      <!-- ================ -->
      <div class="main col-md-12">
      
      <h2 class="page-title text-center">Cases de Sucesso</h2>
      <div class="separator"></div>
      <br>
      
      <div class="row">
        <div class="col-sm-3">
          <div class="image-box style-2 mb-20 bordered dark-bg text-center">
            <div class="overlay-container-2">
              <img src="images/case-1.png" alt="">
              <div class="overlay-to-top">
                <p class="small margin-clear">Detalhe</p>
              </div>
            </div>
            <div class="body">
              <h3 class="text-white">Tomate</h3>
              <div class="separator"></div>
              <p>Calibradora eletrônica de<br> tomates miúdos</p>
              <a class="btn btn-transparent btn-animated text-white" href="page-case-1.html">Saiba mais<i class="fa fa-angle-double-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="image-box style-2 mb-20 bordered dark-bg text-center">
            <div class="overlay-container-2">
              <img src="images/case-2.png" alt="">
              <div class="overlay-to-top">
                <p class="small margin-clear">Detalhe</p>
              </div>
            </div>
            <div class="body">
              <h3 class="text-white">Uva</h3>
              <div class="separator"></div>
              <p>Sistema automático de<br> qualificação de uvas</p>
              <a class="btn btn-transparent btn-animated text-white" href="page-case-2.html">Saiba mais<i class="fa fa-angle-double-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="image-box style-2 mb-20 bordered dark-bg text-center">
            <div class="overlay-container-2">
                <img src="images/case-3.png" alt="">
              <div class="overlay-to-top">
                <p class="small margin-clear">Detalhe</p>
              </div>
            </div>
            <div class="body">
              <h3 class="text-white">Eucalipto</h3>
              <div class="separator"></div>
              <p>Seletora automática de<br> mudas florestais</p>
              <a class="btn btn-transparent btn-animated text-white" href="page-case-3.html">Saiba mais<i class="fa fa-angle-double-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="image-box style-2 mb-20 bordered dark-bg text-center">
            <div class="overlay-container-2">
                <img src="images/case-4.png" alt="">
              <div class="overlay-to-top">
                <p class="small margin-clear">Velocidade de 3600 mudas por hora</p>
              </div>
            </div>
            <div class="body">
              <h3 class="text-white">Flores</h3>
              <div class="separator"></div>
              <p>Seletora automática de<br> mudas de flores</p>
              <a class="btn btn-transparent btn-animated text-white" href="page-case-4.html">Saiba mais<i class="fa fa-angle-double-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    
      </div>
      </div>
      </div>  
      </section>
      <!-- section end -->

      <!-- section start -->
      <!-- ================ -->
      <section class="section dark-bg clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="call-to-action">
                <div class="row">
                  <div class="col-sm-12 text-center">
                    <h4 class="mt-10 text-white section-caller">Realizamos projetos para o seu negócio. Entre em contato:</h4>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 text-center">
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="tel:+00 1234567890" class="link-dark"><i class="text-default fa fa-phone pl-10 pr-1"></i>(+55) (11) 4302-5902</a></li>
                      <li class="list-inline-item"><a href="mailto:info@theproject.com" class="link-dark"><i class="text-default fa fa-envelope-o pl-10 pr-1"></i>contato@mvisia.com.br</a></li>
                      <li class="list-inline-item"><a href="" class="link-dark"><i class="text-default fa fa-whatsapp pl-10 pr-1"></i>(+55) (11) 98134-9727</a></li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      <!-- section start -->
      <!-- ================ -->
      <section id="benefits" class="dark-translucent-bg pv-30" style="background-image:url(images/benefits-bg-image.png);">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-md-8">
              <h2 class="text-center mt-4">Vantagens</h2>
              <div class="separator"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="pv-30 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <span class="icon default-bg circle"><img class="icon-circle" src="images/icon-benefit-1.svg"></img></span>
                <h3>Redução de custos</h3>
                <div class="separator clearfix"></div>
                <p>Automação na seleção de produtos<br> e na avaliação de qualidade</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="pv-30 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                <span class="icon default-bg circle"><img class="icon-circle" src="images/icon-benefit-2.svg"></img></span>
                <h3>Aumento de Produtividade</h3>
                <div class="separator clearfix"></div>
                <p>Ganho de eficiência nos processos de<br> seleção e de controle de qualidade</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="pv-30 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                <span class="icon default-bg circle"><img class="icon-circle" src="images/icon-benefit-3.svg"></img></span>
                <h3>Controle de qualidade</h3>
                <div class="separator clearfix"></div>
                <p>Ganho de precisão para a seleção da safra<br> e garantia de produtos com qualidade</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="pv-30 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <span class="icon default-bg circle"><img class="icon-circle" src="images/icon-benefit-4.svg"></img></span>
                <h3>Relatórios detalhados</h3>
                <div class="separator clearfix"></div>
                <p>Transparência nas métricas de performance<br> das máquinas e sistemas</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="pv-30 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                <span class="icon default-bg circle"><img class="icon-circle" src="images/icon-benefit-5.svg"></img></span>
                <h3>Operação intuitiva</h3>
                <div class="separator clearfix"></div>
                <p>Máquinas e sistemas de fácil operação</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="pv-30 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                <span class="icon default-bg circle"><img class="icon-circle" src="images/icon-benefit-6.svg"></img></span>
                <h3>Assistência técnica</h3>
                <div class="separator clearfix"></div>
                <p>Garantia dos equipamentos e atuação de<br> equipe especializada no suporte</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      <!-- section start -->
      <!-- ================ -->
      <section>
        <div class="main-container">
          <h2 class="page-title text-center">Clientes</h2>
          <div class="separator"></div>
          <div class="clients-container">
            <div class="clients">
              <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
                <a target="_blank" href="http://www.suzano.com.br/"><img src="images/client-1.svg" alt="suzano-logo"></a>
              </div>
              <div class="client-image-small object-non-visible" data-animation-effect="fadeIn" data-effect-delay="200">
                <a target="_blank" href="http://www.cooperativasaojoao.com.br/index2.html"><img src="images/client-2.svg" alt="cooperativa-sao-joao-logo"></a>
              </div>
              <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                <a target="_blank" href="http://www.kiarafoods.com.br/"><img src="images/client-3.svg" alt="kiara-foods-logo"></a>
              </div>
              <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="400">
                <a target="_blank" href="http://www.echeveria.com.br/"><img src="images/client-4.svg" alt="echeverria-logo"></a>
              </div>
              <div class="client-image-small object-non-visible" data-animation-effect="fadeIn" data-effect-delay="500">
                <a target="_blank" href="http://devtecnologia.com.br/"><img src="images/client-5.svg" alt="dev-tecnologia-logo"></a>
              </div>
            </div>
          </div>
          <!-- clients end -->
          <h2 class="page-title text-center">Parceiros</h2>
          <div class="separator"></div>
          <div class="clients-container">
            <div class="clients">
              <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
                <a target="_blank" href="https://www.embrapa.br/"><img src="images/partner-1.svg" alt="embrapa-logo"></a>
              </div>
              <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="200">
                <a target="_blank" href="http://www.fapesp.br/"><img src="images/partner-2.svg" alt="fapesp-logo"></a>
              </div>
              <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                <a target="_blank" href="http://abria.com.br/"><img src="images/partner-3.svg" alt="abria-logo"></a>
              </div>
              <div class="client-image-small object-non-visible" data-animation-effect="fadeIn" data-effect-delay="400">
                <a target="_blank" href="http://www5.usp.br/"><img src="images/partner-4.svg" alt="usp-logo"></a>
              </div>
              <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="500">
                <a target="_blank" href="http://www.cietec.org.br/"><img src="images/partner-5.svg" alt="cietec-logo"></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      <!-- section start -->
      <!-- ================ -->
      <section class="section dark-bg clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="call-to-action">
                <div class="row">
                  <div class="col-sm-12 text-center">
                    <h4 class="mt-10 text-white section-caller">A MVisia é uma empresa 100% brasileira</h4>
                  </div>
                </div>
                <div class="row">
                  
                  <div class="col-md-6">
                    <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                      <span class="icon default-bg small circle"><img class="icon-circle-small" src="images/icon-benefit-1.svg"></img></span>
                      <div class="body">
                        <h4 class="title">Soluções sem custos de importação</h4>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                      <span class="icon default-bg small circle"><img class="icon-circle-small" src="images/icon-benefit-6.svg"></img></span>
                      <div class="body">
                        <h4 class="title">Garantia e assistência técnica capacitada</h4>
                      </div>
                    </div>
                  </div>

                </div>   
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      <!-- section na mídia start -->     
      <div class="light-gray-bg pv-45 clearfix" style="background-image:url(images/benefits-bg-image.png);">
        <div class="container">
            <div class="main">
              <h2 class="page-title text-center">Na Mídia</h2>
              <div class="separator"></div>
                <div class="row">

                <div class="owl-carousel content-slider-with-controls">
                  
                  <div class="overlay-visible">
                    
                    <div class="row container">
                      
                      <div class="col-md-4">
                        <div class="pv-30 phl-40 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                          <img class="media-logo" src="images/media-1.svg">
                        </div>
                      </div>

                      <div class="col-md-8 pv-30 phr-40">
                        <h3 class="text-left">Fernando Antonio Torres Velloso da Silva Neto - USP</h3>
                        <p class="text-left">O Brasil é o maior produtor de eucalipto do mundo. Mesmo assim, esbarra em uma dificuldade: a seleção das mudas de eucalipto para plantio. Para melhorar a eficiência dessa etapa da produção, o aluno de Engenharia Mecatrônica da Universidade de São Paulo (USP), Fernando Antonio Torres Velloso da Silva Neto, junto aos colegas Fernando Lopes e Henrique Oliveira, criou uma máquina que automatiza o processo de determinação do índice de qualidade das mudas, a Seletora de mudas de eucalipto, projeto vencedor do Prêmio Santander Empreendedorismo 2015...</p>
                      </div>

                      </div>

                    </div>

                  <div class="overlay-visible">
                    
                    <div class="row container">
                      
                      <div class="col-md-4">
                        <div class="pv-30 ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                          <img class="media-logo" src="images/media-1.svg">
                        </div>
                      </div>

                      <div class="col-md-8">
                        
                        <h3 class="page-title text-center">Na Mídia</h3>
                        </div>

                      </div>

                    </div>

                  </div>

                  </div>
                </div>
                </div>

            </div>

        </div>
      </div>
      <!-- section na mídia end -->

      <!-- section contact start -->
      <section class="main-container">
        
      <div class="container">
      <div class="row">
        
      <!-- main start -->
      <div class="main col-md-12">  
        <h2 class="page-title text-center">Contato</strong></h2>
        <div class="separator"></div>
        
        <div class="row">
          <div class="col-md-12 text-center">
            <h4 class="mt-10 section-caller">Realizamos projetos sob medida para o seu negócio. Entre em contato:</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 text-center">
            <ul class="list-inline mb-40">
              <li class="list-inline-item"><i class="text-default fa fa-map-marker pr-1"></i>Av. Queiroz Filho, 1700 - Torre E, Sala 512</li>
              <li class="list-inline-item"><a href="tel:+00 1234567890" class="link-dark"><i class="text-default fa fa-phone pl-10 pr-1"></i>(+55) (11) 4302-5902</a></li>
              <li class="list-inline-item"><a href="mailto:info@theproject.com" class="link-dark"><i class="text-default fa fa-envelope-o pl-10 pr-1"></i>contato@mvisia.com.br</a></li>
              <li class="list-inline-item"><a href="" class="link-dark"><i class="text-default fa fa-whatsapp pl-10 pr-1"></i>(+55) (11) 98134-9727</a></li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
              <div id="map-canvas"></div>
          </div>
        </div>
        <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29258.458831938984!2d-46.73309043644858!3d-23.557402355627367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce566d5b721269%3A0x2702355c13db856c!2sMVisia!5e0!3m2!1spt-BR!2sbr!4v1423598617879"></iframe>-->
      </div>
      </div>
      </div>  
      </section>
      <!-- section contact end -->

      <!-- footer start -->
      <footer id="footer" class="clearfix dark">
        <div class="footer">
          <div class="container">
            <div class="footer-inner">
              <div class="row justify-content-lg-center">
                <div class="col-lg-9">
                  <div class="footer-content text-center padding-ver-clear">
                    <div class="logo-footer"><img id="logo-footer" class="mx-auto" src="images/mvisia-white-logo.svg" alt=""></div>
                    <p>Máquinas de Visão e Inteligência Artificial</p>
                    <ul class="list-inline mb-20">
                      <li class="list-inline-item"><i class="text-default fa fa-map-marker pr-1"></i>Av. Queiroz Filho, 1700 - Torre E, Sala 512</li>
                      <li class="list-inline-item"><a href="tel:+00 1234567890" class="link-dark"><i class="text-default fa fa-phone pl-10 pr-1"></i>(+55) (11) 4302-5902</a></li>
                      <li class="list-inline-item"><a href="mailto:info@theproject.com" class="link-dark"><i class="text-default fa fa-envelope-o pl-10 pr-1"></i>contato@mvisia.com.br</a></li>
                      <li class="list-inline-item"><a href="mailto:info@theproject.com" class="link-dark"><i class="text-default fa fa-whatsapp pl-10 pr-1"></i>(+55) (11) 98134-9727</a></li>
                    </ul>
                    <ul class="social-links circle animated-effect-1 margin-clear">
                      <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                      <li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube-play"></i></a></li>
                      <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li> 
                    </ul>
                    <div class="separator"></div>
                    <p class="text-center margin-clear">©2018 MVisia. Todos os direitos reservados.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- footer end -->
    </div>
    <!-- page-wrapper end -->

    <!-- jquery and bootstap core js files -->
    <script type="text/javascript" src="plugins/jquery.min.js"></script>
    <script type="text/javascript" src="plugins/popper.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <!-- Modernizr javascript -->
    <script type="text/javascript" src="plugins/modernizr.js"></script>
    <!-- jQuery Revolution Slider  -->
    <script type="text/javascript" src="plugins/rs-plugin-5/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
    <script type="text/javascript" src="plugins/rs-plugin-5/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
    <!-- Isotope javascript -->
    <script type="text/javascript" src="plugins/isotope/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="plugins/isotope/isotope.pkgd.min.js"></script>
    <!-- Magnific Popup javascript -->
    <script type="text/javascript" src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Appear javascript -->
    <script type="text/javascript" src="plugins/waypoints/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="plugins/waypoints/sticky.min.js"></script>
    <!-- Count To javascript -->
    <script type="text/javascript" src="plugins/jquery.countTo.js"></script>
    <!-- Parallax javascript -->
    <script src="plugins/jquery.parallax-1.1.3.js"></script>
    <!-- Contact form -->
    <script src="plugins/jquery.validate.js"></script>
    <!-- Morphext -->
    <script type="text/javascript" src="plugins/morphext/morphext.min.js"></script>
    <!-- Owl carousel javascript -->
    <script type="text/javascript" src="plugins/owlcarousel2/owl.carousel.min.js"></script>
    <!-- Pace javascript -->
    <script type="text/javascript" src="plugins/pace/pace.min.js"></script>
    <!-- Initialization of Plugins -->
    <script type="text/javascript" src="js/template.js"></script>
    <!-- Custom Scripts -->
    <script type="text/javascript" src="js/custom.js"></script>
    <!-- Google Maps javascript -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;key=AIzaSyCU_UNfVTz6FYtyl7FYIV1h1LRUZStUzfk"></script>
    <script type="text/javascript" src="js/google.map.config.js"></script>

  </body>
</html>
