<!DOCTYPE html>
<!--[if IE 9]> <html lang="zxx" class="ie9"> <![endif]-->
<!--[if gt IE 9]> <html lang="zxx" class="ie"> <![endif]-->
<!--[if !IE]><!-->
<html dir="ltr" lang="zxx">
	<!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <title>MVisia - Máquinas de Visão e Inteligência Artificial</title>
    <meta name="description" content="The Project a Bootstrap-based, Responsive HTML5 Template">
    <meta name="author" content="htmlcoder.me">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,200,300,300italic,400,400italic,500,500italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:500,400,300,200,100' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Fontello CSS -->
    <link href="fonts/fontello/css/fontello.css" rel="stylesheet">

    <!-- Plugins -->
    <link href="plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="plugins/rs-plugin-5/css/settings.css" rel="stylesheet">
    <link href="plugins/rs-plugin-5/css/layers.css" rel="stylesheet">
    <link href="plugins/rs-plugin-5/css/navigation.css" rel="stylesheet">
    <link href="css/animations.css" rel="stylesheet">
    <link href="plugins/owlcarousel2/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="plugins/owlcarousel2/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="plugins/hover/hover-min.css" rel="stylesheet">		
    <link href="plugins/morphext/morphext.css" rel="stylesheet">
    
    <!-- The Project's core CSS file -->
    <!-- Use css/rtl_style.css for RTL version -->
    <link href="css/style.css" rel="stylesheet" >
    <!-- The Project's Typography CSS file, includes used fonts -->
    <!-- Used font for body: Roboto -->
    <!-- Used font for headings: Raleway -->
    <!-- Use css/rtl_typography-default.css for RTL version -->
    <link href="css/typography-default.css" rel="stylesheet" >
    <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
    <link href="css/skins/green.css" rel="stylesheet">
  
    <!-- Custom css --> 
    <link href="css/custom.css" rel="stylesheet">
       
  </head>

  <body class="page-loader-1">

    <!-- scrollToTop -->
    <!-- ================ -->
    <div class="scrollToTop circle"><i class="fa fa-angle-up"></i></div>

    <!-- page wrapper start -->
    <!-- ================ -->
    <div class="page-wrapper">
      <!-- header-container start -->
      <div class="header-container">
        <div class="header-top dark">
          <div class="container">
            <div class="row">
              <div class="col-1 col-md-3">
                <!-- header-top-first start -->
                <div class="header-top-first clearfix">
                  <ul class="social-links circle small clearfix hidden-sm-down">
                    <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                    <li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube-play"></i></a></li>
                    <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                  </ul>
                  <div class="social-links hidden-md-up circle small">
                    <div class="btn-group dropdown">
                      <button id="header-top-drop-1" type="button" class="btn dropdown-toggle--no-caret" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-share-alt"></i></button>
                      <ul class="dropdown-menu dropdown-animation" aria-labelledby="header-top-drop-1">
                        <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                        <li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube-play"></i></a></li>
                        <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- header-top-first end -->
              </div>
              <div class="col-11 col-md-9 hidden-sm-down">

                <!-- header-top-second start -->
                <!-- ================ -->
                <div id="header-top-second"  class="clearfix text-right">
                  <ul class="list-inline">
                    <li class="list-inline-item hidden-md-down">Realizamos projetos sob medida para o seu negócio.</li>
                    <li class="list-inline-item"><i class="fa fa-envelope-o pr-1 pl-10 text-default"></i>contato@mvisia</li>
                    <li class="list-inline-item"><i class="fa fa-phone pr-1 pl-10 text-default"></i>(+55) (11) 4302-5902</li>
                    <li class="list-inline-item"><i class="fa fa-whatsapp pr-1 pl-10 text-default"></i>(+55) (11) 98134-9727</li>
                  </ul>
                </div>
                <!-- header-top-second end -->

              </div>
            </div>
          </div>
        </div>
        <!-- header-top end -->

        <!-- header start -->
        <!-- ================ -->
        <header class="header fixed fixed-desktop clearfix">
          <div class="container">
            <div class="row">
              <div class="col-md-auto hidden-md-down pl-3">
                <!-- header-first start -->
                <!-- ================ -->
                <div class="header-first clearfix">

                  <!-- logo -->
                  <div id="logo" class="logo">
                    <a href="index.html" target="_self"><img id="logo_img" src="images/logo-mvisia.svg" alt="Logo MVisia"></a>
                  </div>

                </div>
                <!-- header-first end -->

              </div>
              <div class="col-lg-8 ml-lg-auto">
          
                <!-- header-second start -->
                <!-- ================ -->
                <div class="header-second clearfix">
                  
                <!-- main-navigation start -->
                <!-- classes: -->
                <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                <!-- ================ -->
                <div class="main-navigation main-navigation--mega-menu  animated">
                  <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <div class="navbar-brand clearfix hidden-lg-up">

                      <!-- logo -->
                      <div id="logo-mobile" class="logo">
                        <a href="index.html"><img id="logo-img-mobile" src="images/logo-mvisia.svg" alt="Logo Mvisia"></a>
                      </div>

                    </div>
                    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                      <!-- main-menu -->
                      <ul class="navbar-nav ml-xl-auto">
                        <li class="nav-item mega-menu mega-menu--wide">
                          <a class="section-btn nav-link" href="#about-section" target="_self" aria-expanded="false">Sobre</a>
                        </li>
                        <li class="nav-item">
                          <a class="section-btn nav-link" href="#technology-section" target="_self" aria-expanded="false">Tecnologias</a>
                        </li>
                        <li class="nav-item">
                          <a class="section-btn nav-link" href="#case-section" target="_self" aria-expanded="false">Cases</a>
                        </li>
                        <li class="nav-item">
                          <a class="section-btn nav-link" href="#benefit-section" target="_self" aria-expanded="false">Vantagens</a>
                        </li>
                        <li class="nav-item">
                          <a class="section-btn nav-link" href="#client-section" target="_self" aria-expanded="false">Clientes</a>
                        </li>
                        <li class="nav-item">
                          <a class="section-btn nav-link" href="#media-section" target="_self" aria-haspopup="true" aria-expanded="false">Na mídia</a>
                        </li>
                        <li class="nav-item">
                          <a class="section-btn nav-link" href="#contact-section" target="_self" aria-expanded="false">Contato</a>
                        </li>
                        <!-- futuro blog -->
                        <!--<li class="nav-item">
                            <a href="" target="_blank" class="nav-link" aria-haspopup="true" aria-expanded="false">Blog</a>
                        </li>-->
                        <!-- end futuro blog -->
                      </ul>
                    </div>
                  </nav>
                </div>
                <!-- main-navigation end -->
                </div>
                <!-- header-second end -->
              </div>
            </div>
          </div>
        </header>
        <!-- header end -->
      </div>
      <!-- header-container end -->
      <!-- end copy header -->

      <!-- banner start -->
      <!-- ================ -->
      <div class="banner dark-translucent-bg" style="background-image:url('images/page-media-banner.png'); background-position: 50% 27%;">
        <div class="container">
          <div class="row justify-content-lg-center">
            <div class="col-lg-8 text-center pv-20">
              <h2 class="title">Na mídia</h2>
              <div class="separator"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- banner end -->

      <!-- main-container start -->
      <!-- ================ -->
      <section class="main-container">
        <div class="container">
          <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-12 section">
              <div class="row">

                <!-- Globo Rural -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <div class="image-box shadow-2 text-center mb-20">
                    <div class="overlay-container">
                      <img src="images/media-1.png" alt="">
                      <div class="overlay-top">
                        <div class="text">
                          <h3>Limpeza eficiente, sem água</h3>
                        </div>
                      </div>
                      <div class="overlay-bottom pv-55">
                        <div class="links">
                          <a class="btn btn-transparent btn-animated" href="https://viewer.aemmobile.adobe.com/index.html#project/69eb211c-a1d3-4b60-a011-6bc2e481431f/view/edicao_380_junho_2017/article/globorural_-dj-de43b365-d42c-49f1-87e2-90d56ec4419d">Veja<i class="fa fa-angle-double-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Época Negócios -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <div class="image-box shadow-2 text-center mb-20">
                    <div class="overlay-container">
                      <img src="images/media-2.png" alt="">
                      <div class="overlay-top">
                        <div class="text">
                          <h3>Campus Party: a nova juventude e o "fim"...</h3>
                        </div>
                      </div>
                      <div class="overlay-bottom pv-55">
                        <div class="links">
                          <a class="btn btn-transparent btn-animated" href="http://epoca.globo.com/vida/experiencias-digitais/noticia/2016/01/campus-party-nova-juventude-e-o-fim-da-maior-festa-nerd-do-brasil.html">Veja<i class="fa fa-angle-double-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- FAPESP -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <div class="image-box shadow-2 text-center mb-20">
                    <div class="overlay-container">
                      <img src="images/media-3.png" alt="">
                      <div class="overlay-top">
                        <div class="text">
                          <h3>Propostas são selecionadas em chamada para o setor...</h3>
                        </div>
                      </div>
                      <div class="overlay-bottom pv-55">
                        <div class="links">
                          <a class="btn btn-transparent btn-animated" href="http://www.fapesp.br/11441">Veja<i class="fa fa-angle-double-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Santander Universidades -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <div class="image-box shadow-2 text-center mb-20">
                    <div class="overlay-container">
                      <img src="images/media-4.png" alt="">
                      <div class="overlay-top">
                        <div class="text">
                          <h3>Fernando Antonio Torres Velloso da Silva Neto - USP</h3>
                        </div>
                      </div>
                      <div class="overlay-bottom pv-55">
                        <div class="links">
                          <a class="btn btn-transparent btn-animated" href="https://www.santanderuniversidades.com.br/embaixadores/paginas/fernando-antonio-torres-velloso-da-silva-neto.aspx">Veja<i class="fa fa-angle-double-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Revista FAPESP -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <div class="image-box shadow-2 text-center mb-20">
                    <div class="overlay-container">
                      <img src="images/media-5.png" alt="">
                      <div class="overlay-top">
                        <div class="text">
                          <h3>MVisia adapta produto para conquistar diferentes mercados</h3>
                        </div>
                      </div>
                      <div class="overlay-bottom pv-55">
                        <div class="links">
                          <a class="btn btn-transparent btn-animated" href="http://pesquisaparainovacao.fapesp.br/mvisia_adapta_produto_para_conquistar_diferentes_mercados/49">Veja<i class="fa fa-angle-double-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Poli USP -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <div class="image-box shadow-2 text-center mb-20">
                    <div class="overlay-container">
                      <img src="images/media-6.png" alt="">
                      <div class="overlay-top">
                        <div class="text">
                          <h3>Alunos da Poli desenvolvem tecnologia...</h3>
                        </div>
                      </div>
                      <div class="overlay-bottom pv-55">
                        <div class="links">
                          <a class="btn btn-transparent btn-animated" href="http://www.poli.usp.br/en/comunicacao/noticias/1819-alunos-da-poli-desenvolvem-tecnologia-inovadora-para-selecao-de-mudas-de-eucalipto.html">Veja<i class="fa fa-angle-double-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <!-- Instituto TIM -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <div class="image-box shadow-2 text-center mb-20">
                    <div class="overlay-container">
                      <img src="images/media-7.png" alt="">
                      <div class="overlay-top">
                        <div class="text">
                          <h3>Alunos da Poli desenvolvem tecnologia...</h3>
                        </div>
                      </div>
                      <div class="overlay-bottom pv-55">
                        <div class="links">
                          <a class="btn btn-transparent btn-animated" href="http://institutotim.org.br/2015/11/26/equipe-de-awc-conquista-premio/">Veja<i class="fa fa-angle-double-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Successful Farming -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <div class="image-box shadow-2 text-center mb-20">
                    <div class="overlay-container">
                      <img src="images/media-8.png" alt="">
                      <div class="overlay-top">
                        <div class="text">
                          <h3>Máquina inovadora consegue selecionar...</h3>
                        </div>
                      </div>
                      <div class="overlay-bottom pv-55">
                        <div class="links">
                          <a class="btn btn-transparent btn-animated" href="http://sfagro.uol.com.br/pt_technologies/maquina-inovadora-consegue-selecionar-mudas-saudaveis-de-eucalipto/">Veja<i class="fa fa-angle-double-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Rádio Bandeirantes -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <div class="image-box shadow-2 text-center mb-20">
                    <div class="overlay-container">
                      <img src="images/media-9.png" alt="">
                      <div class="overlay-top">
                        <div class="text">
                          <h3>...</h3>
                        </div>
                      </div>
                      <div class="overlay-bottom pv-55">
                        <div class="links">
                          <a class="btn btn-transparent btn-animated" href="http://marcelopascon.com.br/podcast/">Veja<i class="fa fa-angle-double-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Tec Mundo -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <div class="image-box shadow-2 text-center mb-20">
                    <div class="overlay-container">
                      <img src="images/media-10.png" alt="">
                      <div class="overlay-top">
                        <div class="text">
                          <h3>Feira de investimentos seleciona projetos de TCC para transformar em um negócio</h3>
                        </div>
                      </div>
                      <div class="overlay-bottom pv-55">
                        <div class="links">
                          <a class="btn btn-transparent btn-animated" href="http://sfagro.uol.com.br/pt_technologies/maquina-inovadora-consegue-selecionar-mudas-saudaveis-de-eucalipto/">Veja<i class="fa fa-angle-double-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- InfoMoney (Startse) -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="image-box shadow-2 text-center mb-20">
                      <div class="overlay-container">
                        <img src="images/media-11.png" alt="">
                        <div class="overlay-top">
                          <div class="text">
                            <h3>Feira de investimentos seleciona projetos de TCC para transformar em um negócio</h3>
                          </div>
                        </div>
                        <div class="overlay-bottom pv-55">
                          <div class="links">
                            <a class="btn btn-transparent btn-animated" href="http://startse.infomoney.com.br/portal/2016/01/12/16045/feira-de-investimentos-seleciona-projetos-de-tcc-para-transformar-em-um-negcio/">Veja<i class="fa fa-angle-double-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Portal DBO -->
                  <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="image-box shadow-2 text-center mb-20">
                      <div class="overlay-container">
                        <img src="images/media-12.png" alt="">
                        <div class="overlay-top">
                          <div class="text">
                            <h3>Tecnologia automatiza seleção de produtos agrícolas</h3>
                          </div>
                        </div>
                        <div class="overlay-bottom pv-55">
                          <div class="links">
                            <a class="btn btn-transparent btn-animated" href="http://www.portaldbo.com.br/Portal/Espaco-empresarial/MVisia/17801">Veja<i class="fa fa-angle-double-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Instituto tim - SP Conecta -->
                  <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="image-box shadow-2 text-center mb-20">
                      <div class="overlay-container">
                        <img src="images/media-13.png" alt="">
                        <div class="overlay-top">
                          <div class="text">
                            <h3>AWC participa do evento SP Conecta</h3>
                          </div>
                        </div>
                        <div class="overlay-bottom pv-55">
                          <div class="links">
                            <a class="btn btn-transparent btn-animated" href="https://institutotim.org.br/2016/08/30/awc-participa-do-evento-sp-conecta/">Veja<i class="fa fa-angle-double-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Cenário Agro -->
                  <div class="col-md-3 col-sm-12 col-xs-12">
                      <div class="image-box shadow-2 text-center mb-20">
                        <div class="overlay-container">
                          <img src="images/media-14.png" alt="">
                          <div class="overlay-top">
                            <div class="text">
                              <h3>Protótipo de seletora de mudas de cana é premiado</h3>
                            </div>
                          </div>
                          <div class="overlay-bottom pv-55">
                            <div class="links">
                              <a class="btn btn-transparent btn-animated" href="http://cenarioagro.com.br/prototipo-de-seletora-de-mudas-de-cana-e-premiado/">Veja<i class="fa fa-angle-double-right"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Jornal Globo -->
                    <div class="col-md-3 col-sm-12 col-xs-12">
                      <div class="image-box shadow-2 text-center mb-20">
                        <div class="overlay-container">
                          <img src="images/media-15.png" alt="">
                          <div class="overlay-top">
                            <div class="text">
                              <h3>Embrapa Instrumentação desenvolve máquina que tira sujeira de frutas e legumes sem água</h3>
                            </div>
                          </div>
                          <div class="overlay-bottom pv-55">
                            <div class="links">
                              <a class="btn btn-transparent btn-animated" href="http://g1.globo.com/sp/sao-carlos-regiao/jornal-da-eptv-2edicao/videos/t/edicoes/v/embrapa-instrumentacao-desenvolve-maquina-que-tira-sujeira-de-frutas-e-legumes-sem-agua/5794091/">Veja<i class="fa fa-angle-double-right"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Grupo Cultivar -->
                    <div class="col-md-3 col-sm-12 col-xs-12">
                      <div class="image-box shadow-2 text-center mb-20">
                        <div class="overlay-container">
                          <img src="images/media-16.png" alt="">
                          <div class="overlay-top">
                            <div class="text">
                              <h3>Máquina compacta voltada a pequenos produtores limpa tomate sem uso de água</h3>
                            </div>
                          </div>
                          <div class="overlay-bottom pv-55">
                            <div class="links">
                              <a class="btn btn-transparent btn-animated" href="http://www.grupocultivar.com.br/noticias/maquina-compacta-voltada-a-pequenos-produtores-limpa-tomate-sem-uso-de-agua">Veja<i class="fa fa-angle-double-right"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- TI Inside -->
                    <div class="col-md-3 col-sm-12 col-xs-12">
                      <div class="image-box shadow-2 text-center mb-20">
                        <div class="overlay-container">
                          <img src="images/media-17.png" alt="">
                          <div class="overlay-top">
                            <div class="text">
                              <h3>Empresas criam 1ª Associação Brasileira de Inteligência Artificial</h3>
                            </div>
                          </div>
                          <div class="overlay-bottom pv-55">
                            <div class="links">
                              <a class="btn btn-transparent btn-animated" href="http://convergecom.com.br/tiinside/webinside/17/05/2017/empresas-criam-1a-associacao-brasileira-de-inteligencia-artificial/">Veja<i class="fa fa-angle-double-right"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Instituto TIM - AWC -->
                    <div class="col-md-3 col-sm-12 col-xs-12">
                      <div class="image-box shadow-2 text-center mb-20">
                        <div class="overlay-container">
                          <img src="images/media-19.png" alt="">
                          <div class="overlay-top">
                            <div class="text">
                              <h3>MVisia investe em novos mercados e novas aplicações</h3>
                            </div>
                          </div>
                          <div class="overlay-bottom pv-55">
                            <div class="links">
                              <a class="btn btn-transparent btn-animated" href="https://awc.institutotim.org.br/noticias/mvisia-investe-em-novos-mercados-e-novas-aplicacoes/">Veja<i class="fa fa-angle-double-right"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Poli USP -->
                    <div class="col-md-3 col-sm-12 col-xs-12">
                      <div class="image-box shadow-2 text-center mb-20">
                        <div class="overlay-container">
                          <img src="images/media-20.png" alt="">
                          <div class="overlay-top">
                            <div class="text">
                              <h3>Politécnicos criam ferramenta que seleciona mudas ideais de cana-de-açúcar</h3>
                            </div>
                          </div>
                          <div class="overlay-bottom pv-55">
                            <div class="links">
                              <a class="btn btn-transparent btn-animated" href="http://www.poli.usp.br/pt/comunicacao/noticias/2362-politecnicos-criam-ferramenta-que-seleciona-mudas-ideais-de-cana-de-acucar.html?platform=hootsuite">Veja<i class="fa fa-angle-double-right"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Jornal da USP -->
                    <div class="col-md-3 col-sm-12 col-xs-12">
                      <div class="image-box shadow-2 text-center mb-20">
                        <div class="overlay-container">
                          <img src="images/media-21.png" alt="">
                          <div class="overlay-top">
                            <div class="text">
                              <h3>Ferramenta seleciona mudas ideais de cana-de-açúcar</h3>
                            </div>
                          </div>
                          <div class="overlay-bottom pv-55">
                            <div class="links">
                              <a class="btn btn-transparent btn-animated" href="http://jornal.usp.br/ciencias/ciencias-agrarias/ferramenta-seleciona-mudas-ideais-de-cana-de-acucar/">Veja<i class="fa fa-angle-double-right"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Instituto TIM - AWC -->
                    <div class="col-md-3 col-sm-12 col-xs-12">
                      <div class="image-box shadow-2 text-center mb-20">
                        <div class="overlay-container">
                          <img src="images/media-22.png" alt="">
                          <div class="overlay-top">
                            <div class="text">
                              <h3>Nova solução da MVisia para cana-de-açúcar conquista prêmios</h3>
                            </div>
                          </div>
                          <div class="overlay-bottom pv-55">
                            <div class="links">
                              <a class="btn btn-transparent btn-animated" href="https://awc.institutotim.org.br/noticias/nova-solucao-da-mvisia-para-cana-de-acucar-conquista-premios/">Veja<i class="fa fa-angle-double-right"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Prêmio Odebrecht -->
                    <div class="col-md-3 col-sm-12 col-xs-12">
                      <div class="image-box shadow-2 text-center mb-20">
                        <div class="overlay-container">
                          <img src="images/media-23.png" alt="">
                          <div class="overlay-top">
                            <div class="text">
                              <h3>Seletora de Mudas de Cana-de-Açúcar</h3>
                            </div>
                          </div>
                          <div class="overlay-bottom pv-55">
                            <div class="links">
                              <a class="btn btn-transparent btn-animated" href="https://www.youtube.com/watch?v=oN6re9K57KQ&list=PL6EFtJLroeE-AHNu3cvhGFU__rTbtfYf3">Veja<i class="fa fa-angle-double-right"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Grupo IDEA -->
                    <div class="col-md-3 col-sm-12 col-xs-12">
                      <div class="image-box shadow-2 text-center mb-20">
                        <div class="overlay-container">
                          <img src="images/media-24.png" alt="">
                          <div class="overlay-top">
                            <div class="text">
                              <h3>Fernando Lopes, da MVISIA, destaca inovações tecnológicas para o setor...</h3>
                            </div>
                          </div>
                          <div class="overlay-bottom pv-55">
                              <div class="links">
                                <a class="btn btn-transparent btn-animated" href="https://www.youtube.com/watch?v=g3t4nzPRBIY&feature=youtu.be">Veja<i class="fa fa-angle-double-right"></i></a>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
              
              </div>
            </div>
            <!-- main end -->

          </div>
        </div>
      </section>
      <!-- main-container end -->

      <!-- footer start -->
      <footer id="footer" class="clearfix dark">
        <div class="footer">
          <div class="container">
            <div class="footer-inner">
              <div class="row justify-content-lg-center">
                <div class="col-lg-9">
                  <div class="footer-content text-center padding-ver-clear">
                    <div class="logo-footer"><img id="logo-footer" class="mx-auto" src="images/mvisia-white-logo.svg" alt=""></div>
                    <p>Máquinas de Visão e Inteligência Artificial</p>
                    <ul class="list-inline mb-20">
                      <li class="list-inline-item"><i class="text-default fa fa-map-marker pr-1"></i>Av. Queiroz Filho, 1700 - Torre E, Sala 512</li>
                      <li class="list-inline-item"><i class="text-default fa fa-phone pl-10 pr-1"></i>(+55) (11) 4302-5902</li>
                      <li class="list-inline-item"><i class="text-default fa fa-envelope-o pl-10 pr-1"></i>contato@mvisia.com.br</li>
                      <li class="list-inline-item"><i class="text-default fa fa-whatsapp pl-10 pr-1"></i>(+55) (11) 98134-9727</li>
                    </ul>
                    <ul class="social-links circle animated-effect-1 margin-clear">
                      <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                      <li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube-play"></i></a></li>
                      <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li> 
                    </ul>
                    <div class="separator"></div>
                    <p class="text-center margin-clear">©2018 MVisia. Todos os direitos reservados.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- footer end -->
    </div>
    <!-- page-wrapper end -->

    <!-- jquery and bootstap core js files -->
    <script type="text/javascript" src="plugins/jquery.min.js"></script>
    <script type="text/javascript" src="plugins/popper.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <!-- Modernizr javascript -->
    <script type="text/javascript" src="plugins/modernizr.js"></script>
    <!-- jQuery Revolution Slider  -->
    <script type="text/javascript" src="plugins/rs-plugin-5/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
    <script type="text/javascript" src="plugins/rs-plugin-5/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
    <!-- Isotope javascript -->
    <script type="text/javascript" src="plugins/isotope/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="plugins/isotope/isotope.pkgd.min.js"></script>
    <!-- Magnific Popup javascript -->
    <script type="text/javascript" src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Appear javascript -->
    <script type="text/javascript" src="plugins/waypoints/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="plugins/waypoints/sticky.min.js"></script>
    <!-- Count To javascript -->
    <script type="text/javascript" src="plugins/jquery.countTo.js"></script>
    <!-- Parallax javascript -->
    <script src="plugins/jquery.parallax-1.1.3.js"></script>
    <!-- Contact form -->
    <script src="plugins/jquery.validate.js"></script>
    <!-- Morphext -->
    <script type="text/javascript" src="plugins/morphext/morphext.min.js"></script>
    <!-- Owl carousel javascript -->
    <script type="text/javascript" src="plugins/owlcarousel2/owl.carousel.min.js"></script>
    <!-- Pace javascript -->
    <script type="text/javascript" src="plugins/pace/pace.min.js"></script>
    <!-- Initialization of Plugins -->
    <script type="text/javascript" src="js/template.js"></script>
    <!-- Custom Scripts -->
    <script type="text/javascript" src="js/custom.js"></script>
    <!-- Google Maps javascript -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;key=AIzaSyCU_UNfVTz6FYtyl7FYIV1h1LRUZStUzfk"></script>
    <script type="text/javascript" src="js/google.map.config.js"></script>

  </body>
</html>